# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\d2lpython\dive_into_deep_learning\ch01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
